<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <header>
        <div id="logo"><%= link_to "URL Shortener", root_path, class:'logo' %></div>
      </header>
      <main>
        <section id="urlbox">
          <h1>Simplify your links, track &amp; manage them</h1>
          <%= form_with model: @link, remote: true do |form|%>
            <div id="formurl">
              <%= form.text_field :original_url, placeholder: "Enter the link here... "%>
              <div id="formbutton">
                <%= form.submit %>
              </div>
            </div>
          <% end%>
          <p class="boxtextcenter">URL Shortener is a free tool to shorten a URL or reduce a link.<br>
            Use our URL Shortener to create a shortened link making it easy to remember.</p>
        </section>
        <hr style="padding:20px;">
        <div id="short-link">
        </div>
      </main>
    </div>
  </div>
</div>
