<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>URL Shortener</h1>
      <h2>Simplify your links, track &amp; manage them</h2>
      <div id="orig" class="url_area">
        <%= form_with model: @link, remote: true do |form|%>
          <%= form.text_field :original_url%>
          <%= form.submit %>
        <% end%>
      </div>
    </div>
  </div>
</div>
<div id="short-link">
</div>