var lookupCode = "<%= @link.lookup_code %>";
console.log(lookupCode);
var shortened_url = "<%=@link.shortened_url%>";
console.log(shortened_url);
<%# var shortLink = "http://localhost:3000/" + lookupCode; %>
var element = document.getElementById('short-link');
<%# element.innerHTML = shortLink; %>
element.style.display = "block";
element.innerHTML = `
<h1>The link has been shortened</h1>
<div id="formurl">
  <div class="row">
    <div class="col-md-10">
      <input id="myInput" onClick="this.select();" type="text" value="<%= @link.shortened_url %>"/>
    </div>
    <div class="col-md-2">
      <button id="button-copy" onclick="myFunction()">Copy Link</button>
    </div>
  </div>
</div>
<div style='text-align: center;'>
  <img style='width:300px;height:300px;text-align: center;' id='base64image'                 
       src='<%= generate_qr( @link.shortened_url ) %>' />
</div>
`
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
