// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header, footer {
    text-align: center;
}

header #logo {
    padding: 40px 20px 25px;
}
footer{
    padding-top: 50px;
}
header a.logo {
    font           : 900 49px asap, arial;
    color          : #09a504;
    text-decoration: none;
    letter-spacing : -1px;
    text-shadow    : 0 2px 2px #ddd;
    word-wrap      : break-word;
}

.logo {
    font     : bold 40px arial, tahoma;
    color    : #222;
    word-wrap: break-word;
}

a {
    color          : #006cff;
    text-decoration: none;
}

section#urlbox {
    margin       : 0 auto 20px auto;
    box-shadow   : 0 1px 4px #ccc;
    border-radius: 2px;
    padding      : 10px 30px 5px;
    background   : #fff;
    text-align   : center;
}

* {
    box-sizing        : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
}

section {
    display: block;
}

section#urlbox h1 {
    margin: 10px auto 30px auto;
}

h1 {
    display            : block;
    font-size          : 2em;
    margin-block-start : 0.67em;
    margin-block-end   : 0.67em;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : bold;
    text-shadow        : 0 2px 2px #ddd;

}

form {
    display   : block;
    margin-top: 0em;
}

#formurl input[type=text] {
    display                   : table-cell;
    width                     : 100%;
    height                    : 56px;
    padding                   : 10px 16px;
    font                      : 17px lato, arial;
    color                     : #000;
    background                : #fff;
    border                    : 1px solid #bbb; 
    border-radius             : 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius   : 0;
    box-sizing                : border-box;
}

#formurl input[type=button],
#formurl input[type=submit] {
    height                   : 56px;
    padding                  : 10px 16px;
    font                     : bold 17px lato, arial;
    color                    : #fff;
    background-color         : #09a504;
    text-align               : center;
    vertical-align           : middle;
    cursor                   : pointer;
    white-space              : nowrap;
    border                   : 0;
    border-radius            : 5px;
    margin-left              : -1px;
    -webkit-appearance       : button;
    margin                   : 0;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

#formbutton{
    padding: 30px 0 10px 0;
}